.basket {
  &-counter {
    $size: 24px;
    height: $size;
    width: $size;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #7BB899;

    span {
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: #1f2020;
    }
  }
}
