.breadcrumbs {
  &--phones {
    display: none;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 8px;

    &::after {
      $size: 3px;
      content: "";
      display: inline-block;
      height: $size;
      width: $size;

      background: #747f7b;
      border-radius: 50%;

      vertical-align: middle;
      margin-left: 4px;
    }

    &:last-child {
      margin-right: 0;

      &::after {
        display: none;
      }
    }
  }

  &__link {
    font-size: 10px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #747f7b;
  }
}

@media screen and (max-width: 480px) {
  .breadcrumbs {
    display: block;

    &--phones {
      margin-bottom: 48px;
      
      .breadcrumbs {
        &__link {
          color: #bcbcbc;
        }

        &__item {
          &::after {
            background: #c4c4c4;
          }
        }
      }
    }
  }
}
