.checkbox {
  &__body {
    display: none;

    &:checked + .checkbox__fake {
      background: #7bb899;

      &::before {
        left: auto;
        right: 0;
      }
    }
  }

  &__fake {
    display: inline-block;
    width: 36px;
    height: 22px;

    background: #f2f2f2;
    border-radius: 40px;
    position: relative;

    &::before {
      $size: 8px;
      content: "";
      display: inline-block;
      height: $size;
      width: $size;

      background: #1f2020;
      border-radius: 50%;
      margin: 0 7px;

      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}
