.header {
  padding: 38px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 31px 0 64px;
  }

  &__col {
    flex: 1;
    display: flex;
    align-items: center;

    &--right {
      justify-content: flex-end;
      margin-top: 3px;
    }
  }

  &__logo {
    margin-right: 171px;
  }

  &__menu {
    margin-top: 4px;
  }

  &__phones {
    margin-right: 115px;
  }

  &__options {
    display: flex;
    align-items: center;

    button {
      margin-right: 24px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
