.main {
  &__content {
    display: flex;
    margin-top: 72px;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__col {
    &--full {
      flex: 1;
      margin-left: 137px;
    }
  }
}
