.phones {
  &__link {
    display: flex;
    flex-direction: column;

    &-number {
      font-weight: 500;
      font-size: 16px;
      letter-spacing: -0.02em;
      color: #1f2020;
      margin-bottom: 4px;
    }

    &-text {
      color: #bcbcbc;
      margin-top: 13px;
    }
  }
}
