.select {
  &__preview {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #1f2020;

    &::after {
      content: "";
      display: inline-block;
      border: 6px solid transparent;

      border-top-color: #1f2020;
      vertical-align: middle;
      margin-left: 5px;
    }
  }

  &__list {
    display: inline-block;
    max-width: 280px;
    width: 100%;
    // height: 198px;
  }

  &__btn {
    padding: 17px 24px;
    background: #fff;
    width: 100%;
    text-align: left;

    span {
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: #1f2020;
    }

    &:hover {
      background: #7bb899;
    }
  }
}
