* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  line-height: 100%;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  overflow-x: hidden;
}

button {
  outline: none;
  padding: 0;
  color: #000000;
  border: 1px solid transparent;
  background: transparent;
  cursor: pointer;

  display: inline-block;
}

h1,
h2,
h3 {
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  margin: 0;
}

input {
  background: transparent;
  border: 1px solid transparent;
  outline: none;
}

.wrapper {
  height: 100%;
  width: 100%;
  background: #fff;

  &.active {
    pointer-events: none;

    &:before {
      visibility: visible;
    }
  }

  &:before {
    content: "";
    transition: opacity 0.6s;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000000;
    opacity: 0.7;
    visibility: hidden;
    z-index: 1;
  }
}

.container {
  padding: 0 64px;
  max-width: 1920px;
  width: 100%;

  &--product {
    display: flex;
    padding: 0 27px 0 64px;
  }
}

@import "./blocks/*.scss";
